@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
  }

  * {
    @apply box-border;
  }

  body {
    @apply m-0 min-h-screen bg-massapp-flare font-sans text-slate-200 antialiased;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.blue.400') transparent;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: theme('colors.blue.400');
    border-radius: 9999px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  a {
    @apply text-inherit no-underline;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-slate-100;
  }
}
